<!DOCTYPE html>
<html>
<head>
	<title>Admin Home Page</title>
</head>
<body>
     <a href="/admin/adduser">Add User || </a>
     <a href="/admin/viewprofile">Profile || </a>
     <a href="/admin/viewcontent">View Content|| </a>
     <a href="/logout">Log Out</a>
</body>
</html>