<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Add User</h1>
	<a href="/admin">Back</a> | 
    <a href="/logout">logout</a>
<p>name: <%=name %> </p> <br>   
<p>username: <%=username %> </p> <br> 
</body>
</html>