<!DOCTYPE html>
<html>
    <title>View Content Admin</title>

    <body>
            <h1>View Content</h1>
            <a href="/admin">Back</a> | 
            <a href="/logout">logout</a>
    </body>   

</html>