<!DOCTYPE html>
<html>
<head>
	<title>Moderator Home Page</title>
</head>
<body>
     <a href="/moderator/additem">Add Item || </a>
     <a href="/moderator/viewprofile">Profile || </a>
     <a href="/logout">Log Out</a>
</body>
</html>