<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<h1>Add User</h1>
	<a href="/moderator">Back</a> | 
    <a href="/logout">logout</a>
<h3>name: <%=name %> </h3>   
<h3>username: <%=username %> </h3> 
</body>
</html>