<!DOCTYPE html>
<html>
    <title>View Content Moderator</title>
    <body>
            <h1>View Content</h1>
            <a href="/moderator">Back</a> | 
            <a href="/logout">logout</a>
    </body>   
</html>